<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments :: head(~{::title})">
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>管理博客</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
    <!--<link rel="stylesheet" href="../../static/css/my.css">-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">-->
</head>

<body>
    <!--导航-->
    <!--<nav class="ui sticky attached segment my-padding-mini my-shadow">-->
        <!--<div class="ui container">-->
            <!--<div class="ui  secondary stackable menu">-->
                <!--<h2 class="ui teal header" style="margin-top:0.1em; margin-bottom: 0.1em;">后台管理</h2>-->
                <!--<a href="#" class="active item my-mobile-hide mitem"><i class="home icon"></i>博客</a>-->
                <!--<a href="#" class="item my-mobile-hide mitem"><i class="folder icon"></i>分类</a>-->
                <!--<a href="#" class="item my-mobile-hide mitem"><i class="tags icon"></i>标签</a>-->

                <!--<div class="ui secondary right menu my-mobile-hide mitem">-->
                    <!--<div class="ui item inline dropdown">-->
                        <!--<img class="ui avatar image" src="../../static/images/touxiang.png">-->
                        <!--<div class="text">科锦</div>-->
                        <!--<i class="dropdown icon"></i>-->
                        <!--<div class="ui menu">-->
                            <!--<a class="item"><i class="power off icon"></i> 注销</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<a href="#" class="ui icon button my-mobile-show togglemenu" style="position: absolute; right: 0;top:0.3em;">-->
            <!--<i class="bars icon"></i></a>-->
    <!--</nav>-->

    <nav th:replace="admin/_fragments :: menu(1)"></nav>

    <div class="ui attached menu ">
        <div class="ui container my-shadow">
            <div class="right menu">
                <a href="#" class="item">发布</a>
                <a href="#" class="teal active item">列表</a>
            </div>
        </div>
    </div>


    <!--中间内容-->
    <div class="main">
        <br><br><br>
        <div class="ui container my-padding-small">
            <!--header-->
            <form action="#" method="POST" class="ui segment form">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <select class="ui search dropdown" name="types">
                        <option value="">分类</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                    </select>
                    </div>
                    <div class="field">
                        <select name="tags" multiple="" class="ui dropdown">
                        <option value="">标签</option>
                        <option value="angular">Angular</option>
                        <option value="css">CSS</option>
                        <option value="design">Graphic Design</option>
                        <option value="ember">Ember</option>
                        <option value="javascript">Javascript</option>
                        <option value="mech">Mechanical Engineering</option>
                        <option value="meteor">Meteor</option>
                        <option value="node">NodeJS</option>
                        <option value="plumbing">Plumbing</option>
                        <option value="python">Python</option>
                        <option value="rails">Rails</option>
                    </select>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="recommend" id="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui labeled icon blue button"><i class="search icon"></i>提交</button>
                    </div>
                </div>
            </form>

            <!--footer-->
            <div class="ui  segment my-shadow">
                <table class="ui center aligned  striped  very basic table">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>类型</th>
                            <th>标签</th>
                            <th>推荐</th>
                            <th>发表时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>
                                <a href="#" class="ui mini teal button"><i class="edit icon"></i>编辑</a>
                                <a href="#" class="ui mini red button"><i class="delete icon"></i> 删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>xx</td>
                            <td>
                                <a href="#" class="ui mini teal button"><i class="edit icon"></i>编辑</a>
                                <a href="#" class="ui mini red button"><i class="delete icon"></i> 删除</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th colspan="7">
                                <div class="ui  pagination menu">
                                    <a class=" icon item">
                                        <i class="blue left chevron icon"></i>
                                    </a>
                                    <a class="item">1</a>
                                    <a class="item">2</a>
                                    <a class="item">3</a>
                                    <a class="item">4</a>
                                    <a class="icon item">
                                        <i class="blue right chevron icon"></i>
                                    </a>
                                </div>
                                <a href="#" class="ui teal right floated button"><i class="add icon"></i>新增</a>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br><br><br>
    </div>

    <!--/*/<th:block th:replace="admin/_fragments :: script ">/*/-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/js/heart.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    </script>
</body>

</html>