<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>管理博客</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
    <!--<link rel="stylesheet" href="../../static/css/my.css">-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">-->
</head>

<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(1)"></nav>
    <div class="ui attached menu ">
        <div class="ui container my-shadow">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs}" class=" item">列表</a>
                <a href="#" th:href="@{/admin/blogs/input}" class="teal active item">发布</a>
            </div>
        </div>
    </div>


    <!--中间内容-->
    <div class="main">
        <br><br><br>
        <div class="ui container my-padding-small">
            <!--header-->
            <form action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="POST" class="ui form" id="blog-form">
                <input type="hidden" name="published" th:value="*{published}">  <!--发布状态-->
                <input type="hidden" name="id" th:value="*{id}">
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui selection compact teal basic dropdown label" id="flagMenu">
                            <input type="hidden" value="原创" name="flag" th:value="*{flag}" >
                            <i class="dropdown icon"></i>
                            <div class="text">原创</div>
                            <div class="menu">
                                <div class="item" data-value="原创">原创</div>
                                <div class="item" data-value="二创">二创</div>
                                <div class="item" data-value="转载">转载</div>
                                <div class="item" data-value="翻译">翻译</div>
                            </div>
                        </div>
                        <input type="text" name="title" placeholder="标题" th:value="*{title}">
                    </div>
                </div>

                <div class="required field">
                    <div id="md-content" style="z-index: 99 !important;">
                        <textarea name="content" placeholder="content" style="display:none;" th:text="*{content}">
                                
                            </textarea>

                    </div>
                </div>

                <div class="two fields">
                    <div class="required field">
                        <div class="ui  left labeled input">
                            <labrl class="ui compact teal basic label">分类</labrl>
                            <div class="ui fluid selection dropdown">
                                <input type="hidden" name="type.id" th:value="*{type} != null ? *{type.id}">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item"  th:data-value="${type.id}" th:text="${type.name}"></div>
                                    <!--<div class="item" data-value="1">1</div>-->
                                    <!--<div class="item" data-value="2">2</div>-->
                                    <!--<div class="item" data-value="3">3</div>-->
                                    <!--<div class="item" data-value="4">4</div>-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui left labeled input">
                            <label class="ui compact teal basic  label">标签</label>
                            <div class="ui fluid selection multiple search  dropdown">
                                <input type="hidden" name="tagIds" th:value="*{tagIds}" >
                                <i class="dropdown icon"></i>
                                <div class="default text">标签</div>
                                <div class="menu">
                                    <div th:each="tag : ${tags}" class="item" th:data-value="${tag.id}" th:text="${tag.name}">java</div>
                                    <!--<div class="item" data-value="1">1</div>-->
                                    <!--<div class="item" data-value="2">java</div>-->
                                    <!--<div class="item" data-value="3">3</div>-->
                                    <!--<div class="item" data-value="4">4</div>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">封面图</label>
                        <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="封面图引用地址">
                    </div>
                </div>
                <div class="required field">
                    <div id="md-description">
                        <textarea name="description" th:text="*{description}" placeholder="博客描述..."></textarea>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="recommend" class="hidden" id="recommend" th:checked="*{recommend}" >
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="commentabled" class="hidden" id="commentabled" th:checked="*{commentabled}">
                            <label for="commentabled">打开评论区</label>
                        </div>
                    </div>
                </div>

                <div class="ui error message"></div>
                <div class="ui right aligned container">
                    <div class="ui buttons">
                        <button class="ui labeled icon button" onclick="window.history.go(-1)">
                        <i class="left undo icon"></i>
                        返回
                    </button>
                        <button class="ui teal button" id="save-btn">
                        <i class="save icon"></i>
                        保存
                    </button>
                        <button class="ui blue right labeled icon button" id="publish-btn">
                        发布
                        <i class="right upload icon"></i>
                    </button>
                    </div>
                </div>
            </form>
        </div>
        <br><br><br>
    </div>


    <!--/*/<th:block th:replace="admin/_fragments :: script ">/*/-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/js/heart.js"></script>
    <script src="../../static/lib/editor/editormd.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        var contentEditor;

        $(function() {
            contentEditor = editormd("md-content", {
                width: "100%",
                height: 640,
                syncScrolling: "single",
                path: "/lib/editor/lib/"
            });
        });

        $('.ui.dropdown').dropdown({
            on: 'hover',
            direction: 'down'
        });
        $('.ui.checkbox').checkbox();
        $('.ui.form').form({
            fields: {
                title : {
                    identifier: 'title',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客标题'
                    }]
                },
                content : {
                    identifier: 'content',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客内容'
                    }]
                },
                typeId : {
                    identifier: 'type.id',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客分类'
                    }]
                },
                firstPicture : {
                    identifier: 'firstPicture',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客首图'
                    }]
                },
                description : {
                    identifier: 'description',
                    rules: [{
                        type : 'empty',
                        prompt: '标题：请输入博客描述'
                    }]
                },
                flag : {
                    identifier: 'flag',
                    rules: [{
                        type : 'empty',
                        prompt: '文章声明：请输入文章声明'
                    }]
                }
            }
        });
        $('#save-btn').click(function () {     //点击保存，修改发布状态为false
            $('[name="published"]').val(false);
            $('#blog-form').submit();
        });


        $('#publish-btn').click(function () {   //点击发布，修改发布状态为true
            $('[name="published"]').val(true);
            $('#blog-form').submit();
        });
    </script>
</body>

</html>