<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui sticky attached segment my-padding-mini my-shadow ">
    <div class="ui container">
        <div class="ui  secondary stackable menu ">
            <h2 class="ui teal header" style="margin-top:0.1em; margin-bottom: 0.1em;">MyBlog</h2>
            <a href="#" class="item my-mobile-hide mitem"><i class="home icon"></i>首页</a>
            <a href="#" class="item my-mobile-hide mitem"><i class="folder icon"></i>分类</a>
            <a href="#" class="item my-mobile-hide mitem"><i class="tags icon"></i>标签</a>
            <a href="#" class="item my-mobile-hide mitem"><i class="clone icon"></i>归档</a>
            <!-- <a href="#" class="item my-mobile-hide mitem"><i class="info icon"></i>作者</a> -->

            <div class="right stackable menu my-mobile-hide mitem">
                <div class="item">
                    <div class="ui icon transparent input">
                        <input type="text" placeholder="搜索...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui buttons my-mobile-hide mitem">
                <button class="ui  button lightTheme"><i class="icon lightbulb outline"></i></button>
                <div class="or"></div>
                <button class="ui  button darkTheme"><i class="icon lightbulb"></i></button>
            </div>
        </div>
    </div>
    <a href="#" class="ui icon button my-mobile-show togglemenu" style="position: absolute; right: 0;top:0.3em;">
        <i class="bars icon"></i></a>
</nav>


<!--中间内容-->
<div class="main ">
    <br><br><br>
    <div class="ui container my-padding-small">
        <div class="ui stackable grid">

            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached  segment my-shadow">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui  icon header" style="margin-bottom: 0;">
                                <i class="book icon"></i>
                                <div class="content" style="color: rgb(219,40,40);">
                                    Blogs
                                </div>
                            </h3>
                        </div>
                        <div class="right aligned column">
                            <div class="ui red statistic">
                                <div class="value">
                                    15
                                </div>
                                <div class="label">
                                    Total
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--body-->
                <!--卡片形式显示,记得这里以后要更改-->
                <div class="ui attached segment my-shadow">
                    <div class="ui  link three stackable cards" style="align-items:center;">
                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/matthew.png">
                            </a>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a></a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                        <span class="right floated">
                                          Joined in 2013
                                        </span>
                                <span>
                                          <i class="eye icon"></i>
                                          75 
                                        </span>
                            </div>
                        </div>

                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/molly.png" th:href="@{/images/molly.png}">
                            </a>
                            <div class="content">
                                <div class="header">Molly</div>
                                <div class="meta">
                                    <span class="date">Coworker</span>
                                </div>
                                <div class="description">
                                    Molly is a personal assistant living in Paris.
                                </div>
                            </div>
                            <div class="extra content">
                                        <span class="right floated">
                                          Joined in 2011
                                        </span>
                                <span>
                                          <i class="eye icon"></i>
                                          35 
                                        </span>
                            </div>
                        </div>

                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/elyse.png">
                            </a>
                            <div class="content">
                                <div class="header">Elyse</div>
                                <div class="meta">
                                    <a>Coworker</a>
                                </div>
                                <div class="description">
                                    Elyse is a copywriter working in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                            <span class="right floated">
                                                Joined in 2014
                                            </span>
                                <span>
                                            <i class="eye icon"></i>
                                            151 
                                            </span>
                            </div>
                        </div>


                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/moon.jpg">
                            </a>
                            <div class="content">
                                <div class="header">Moon</div>
                                <div class="meta">
                                    <a>Coworker</a>
                                </div>
                                <div class="description">
                                    Elyse is a copywriter working in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                            <span class="right floated">
                                                Joined in 2020
                                            </span>
                                <span>
                                            <i class="eye icon"></i>
                                            151 
                                            </span>
                            </div>
                        </div>

                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/girl.jpg">
                            </a>
                            <div class="content">
                                <div class="header">Gril</div>
                                <div class="meta">
                                    <a>Coworker</a>
                                </div>
                                <div class="description">
                                    Elyse is a copywriter working in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                            <span class="right floated">
                                                Joined in 2020
                                            </span>
                                <span>
                                            <i class="eye icon"></i>
                                            151 
                                            </span>
                            </div>
                        </div>

                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/matthew.png">
                            </a>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a></a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                            <span class="right floated">
                                              Joined in 2013
                                            </span>
                                <span>
                                              <i class="eye icon"></i>
                                              75 
                                            </span>
                            </div>
                        </div>

                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/molly.png">
                            </a>
                            <div class="content">
                                <div class="header">Molly</div>
                                <div class="meta">
                                    <span class="date">Coworker</span>
                                </div>
                                <div class="description">
                                    Molly is a personal assistant living in Paris.
                                </div>
                            </div>
                            <div class="extra content">
                                            <span class="right floated">
                                              Joined in 2011
                                            </span>
                                <span>
                                              <i class="eye icon"></i>
                                              35 
                                            </span>
                            </div>
                        </div>

                        <div class=" card">
                            <a class="image" href="#">
                                <img src="../static/images/elyse.png">
                            </a>
                            <div class="content">
                                <div class="header">Elyse</div>
                                <div class="meta">
                                    <a>Coworker</a>
                                </div>
                                <div class="description">
                                    Elyse is a copywriter working in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                                <span class="right floated">
                                                    Joined in 2014
                                                </span>
                                <span>
                                                <i class="eye icon"></i>
                                                151 
                                                </span>
                            </div>
                        </div>

                    </div><!--cards end-->
                </div>
                <!--footer-->
                <div class="ui attached segment my-shadow">
                    <div class="ui middle aligned two column  grid">
                        <div class="column">
                            <button class="ui labeled icon blue button">
                                <i class="left arrow icon"></i>
                                Prev
                            </button>
                        </div>
                        <div class="right aligned column">
                            <button class="ui right labeled icon blue button">
                                <i class="right arrow icon"></i>
                                Next
                            </button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="five wide column">
                <div class="ui segments my-shadow">
                    <div class="ui secondary segment">
                        <div class="ui two column stackable  grid">
                            <div class="column">
                                <i class="folder icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui secondary fluid vertical stackable menu ">
                            <a href="#" class="item">前端
                                <div class="ui  label">11</div>
                            </a>
                            <a href="#" class="item">后端
                                <div class="ui  label">15</div>
                            </a>
                            <a href="#" class="item">机器学习
                                <div class="ui  label">21</div>
                            </a>
                            <a href="#" class="item">算法
                                <div class="ui  label">2</div>
                            </a>
                            <a href="#" class="item">编程语言
                                <div class="ui  label">6</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segments my-shadow">
                    <div class="ui secondary segment">
                        <div class="ui two column  stackable grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui tag labels">
                            <a href="#" target="_blank" class="ui teal label">Java
                                <div class="detail">8</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal label">Java
                                <div class="detail">8</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal label">PHP
                                <div class="detail">12</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal label">C++
                                <div class="detail">14</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal label">Python
                                <div class="detail">5</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segments my-shadow">
                    <div class="ui secondary segment">
                        <i class="ui bell icon"></i>
                        最新推荐
                    </div>
                    <div class="ui segment">
                        <div class="ui secondary fluid vertical stackable menu">
                            <a href="#" class="item">前端</a>
                            <a href="#" class="item">后端</a>
                            <a href="#" class="item">机器学习</a>
                            <a href="#" class="item">编译技术</a>
                            <a href="#" class="item">算法</a>
                            <a href="#" class="item">嵌入式</a>
                        </div>
                    </div>
                </div>


                <div class=" ui fluid card my-shadow">

                    <div class="ui slide masked reveal image">
                        <a class="ui red left corner label" style="position: absolute;
                                    z-index: 999 !important; ">
                            <i class="info icon"></i>
                        </a>
                        <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}" class="visible content">
                        <img src="../static/images/me2.jpg" th:src="@{/images/me2.jpg}" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Lee Kejin</a>
                        <div class="meta">
                            <span class="date">创建本站于2020.3</span>
                        </div>
                    </div>
                    <div class="extra content">
                        一个在编程海洋中苦苦挣扎的计算机小白，
                        一个被现实暴打的当代大学生，
                        一个理性的怪物。
                    </div>
                </div>


            </div>
        </div>
    </div>
    <br><br><br>
</div>


<!--页脚-->
<footer class="ui vertical segment my-shadow-up ">
    <div class="ui center aligned container ">
        <div class="ui divided stackable  grid">
            <div class="five wide column">
                <div class="ui large header">Contact me</div>
                <div class="ui link list">
                    <p class="item"><i class="mail icon"></i> Email:leekejin@foxmail.com</p>
                    <p class="item"><i class="qq icon"></i>QQ:1422784284</p>
                </div>
            </div>
            <div class="five wide column ">
                <div class="ui large header">Reward me</div>
                <img src="../static/images/alipay.png" th:src="@{/images/alipay.png}" class="eight wide" alt="Alipay"
                     style="width: 10em;">
                <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" class="eight wide" alt="Wechat"
                     style="width: 10em;">
            </div>
            <div class="six wide column">
                <div class="ui large header">About me</div>
                <p class="my-text-opcity">Welcome to this website! This is a personal Blog developed by Leekejin.
                    I hope you can get something form here. If you have any questions,just contact me.
                    Have fun!
                </p>
            </div>
        </div>
        <div class="ui section divider"></div>
        <p class="my-text-opcity">Copyright © 2020 by Leekejin</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/js/heart.js"></script>
<!--/*/</th:block>/*/-->

</body>
</html>