<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(1)"></nav>

<!--中间内容-->
<div class="main ">
    <br><br><br>
    <div class="ui container my-padding-small">
        <div class="ui stackable grid">

            <div class="eleven wide column">
                <!--header-->
                <div class="ui top  segment my-shadow">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h1 class="ui black header" style="margin-bottom: 0; font-family:FangSong;">
                                —博客—
                            </h1>
                        </div>
                        <div class="right aligned column">
                            <div class="ui red small statistic">
                                <div class="value" th:text="${pageInfo.total}" style="font-family: fangsong;">

                                </div>
                                <div class="label">
                                    Total
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--body-->
                <div class="ui attached segment my-shadow">
                    <div class="ui link three stackable cards" style="align-items:center;">
                        <div class="card" th:each="blog : ${pageInfo.list}">
                            <div class="content">
                                <div class="right floated meta" th:text="|分类 -> ${blog.type.name}|"></div>
                                <img class="ui avatar image" src="https://api.uomg.com/api/rand.avatar?sort=女&format=images" th:src="@{${blog.user.avatar}}">
                            </div>
                            <a class="image" href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="../static/images/matthew.png" th:src="@{${blog.firstPicture}}">
                            </a>
                            <div class="content">
                                <div class="header" th:text="${blog.title}"></div>
                                <div class="description" th:text="|${blog.description}...|"></div>
                            </div>
                            <div class="extra content">
                                <span class="right floated" th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}"></span>
                                <i class="eye icon"></i>
                                <span th:text="${blog.views}"></span>
                            </div>
                        </div>
                    </div><!--cards end-->
                </div>
                <!--footer-->
                <div class="ui attached segment my-shadow">
                    <div class="ui middle aligned two column  grid">
                        <div class="column">
                            <a th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" class="ui labeled icon blue button">
                                <i class="left arrow icon"></i>
                                Prev
                            </a>
                        </div>
                        <div class="right aligned column">
                            <a th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" class="ui right labeled icon blue button">
                                <i class="right arrow icon"></i>
                                Next
                            </a>
                        </div>
                    </div>
                    <div class="ui secondary segment m-inline-block">
                        <p >当前第<span th:text="${pageInfo.pageNum}"></span>页, 总<span th:text="${pageInfo.pages}"></span>页, 共<span th:text="${pageInfo.total}"></span>条记录</p>
                    </div>
                </div>
            </div>


            <div class="five wide column">
                <div class="ui segments my-shadow">
                    <div class="ui secondary segment">
                        <div class="ui two column stackable  grid">
                            <div class="column">
                                <i class="folder icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{types/-1}" target="_blank" class="ui tiny blue header">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui secondary fluid vertical stackable menu ">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type: ${types}">
                                <span class="ui grey tiny header" th:text="${type.name}"></span>
                                <div class="ui label" th:text="${#arrays.length(type.blogs)}">11</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segments my-shadow">
                    <div class="ui secondary segment">
                        <div class="ui two column  stackable grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{tags/-1}" target="_blank" class="ui tiny blue header">more</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui tag labels">
                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" th:each="tag : ${tags}" class="ui teal label">
                                <span th:text="${tag.name}"></span>
                                <div class="detail" th:text="${#arrays.length(tag.blogs)}"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui segments my-shadow">
                    <div class="ui secondary segment">
                        <i class="ui bell icon"></i>
                        最新推荐
                    </div>
                    <div class="ui segment">
                        <div class="ui secondary fluid vertical stackable menu">
                            <a href="#" class="item ui grey tiny header" th:each="recommendBlog : ${recommendBlogs}" th:href="@{/blog/{id}(id=${recommendBlog.id})}" th:text="${recommendBlog.title}">前端</a>
                        </div>
                    </div>
                </div>


                <div class=" ui fluid card my-shadow">

                    <div class="ui slide masked reveal image">
                        <a class="ui red left corner label" style="position: absolute;
                                    z-index: 999 !important; ">
                            <i class="info icon"></i>
                        </a>
                        <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}" class="visible content">
                        <img src="../static/images/me2.jpg" th:src="@{/images/me2.jpg}" class="hidden content">
                    </div>
                    <div class="content">
                        <a class="header">Lee Kejin</a>
                        <div class="meta">
                            <span class="date">创建本站于2020.4</span>
                        </div>
                    </div>
                    <div class="extra content">
                        一个在编程海洋中苦苦挣扎的计算机小白,
                        一个被现实暴打的当代大学生,
                        一个理性的怪物。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>


<!--页脚-->
<footer th:replace="_fragments :: footer"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/js/heart.js"></script>
<!--/*/</th:block>/*/-->

</body>
</html>